.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.preview {
    left: 50%;
}

.form_area {
    position: fixed;
    top: 7%;
    width: 50%;
    height: 93%;
    left: 0;
    padding-top: 10px;
}

.table {
    float: right;
    left: 50%;
    height: 93%;
    position: fixed;
    width: 50%;
    top: 7%;
}

.content {
    position: fixed;
    top: 7%;
    width: 100%;
    bottom: 100%;
    padding-top: 10px;
    transition: 0.3s;
}

.custombtn {
    color: green;
    right: 47%;
    bottom: 3%;
    position: fixed;
    z-index: -1;
    cursor: pointer;
}

.heading {
    color: white;
    background: green;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    font-size: 35px;
    text-align: center;
    min-height: 7%;
}

input,
textarea {
    border-radius: 5px;
    font-size: 16px;
    width: 95%;
    border: 1px solid black;
}

.container_p {
    cursor: pointer;
    font-size: 20px;
    width: 95%;
    left: 0;
    background-color: green;
    color: white;
    border-radius: 5px;
    padding-left: 5px;
    transition: 0.3s;
}